.Container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 60px;
	width: var(--width-component);

	border-radius: 25px 25px 0 0;
	background-color: var(--color-header-background);
}

img {
	max-width: 16px;
	max-height: 16px;
	cursor: pointer;
}

.Text {
	margin-left: 60px;
	margin-right: 60px;
	cursor: default;
	text-transform: uppercase;
	color: var(--color-header-text);
	font-size: var(--text-size);
	font-weight: bold;
}
