:root {
	--color-background: #20202b;
	--color-header-background: #eeae61;
	--color-body-background: #2d2d38;
	--color-footer-background: #21212a;

	--color-header-text: #ffffff;
	--color-text: #a3acbe;
	--color-footer-text: #eeae61;

	--color-items-separator: #3e3e48;
	--color-components-separator: #4d505c;

	--text-size: 16px;
	--text-size-s: 8px;
	--button-size: 20px;

	--width-component: 250px;
	--width-station: 230px;
}
